.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius-lg) -(var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: var(--bs-card-border-radius);
}

.card-float{
    box-shadow: var(--bs-box-shadow-sm);
    background-color: white;
}

.card-header {
    padding: 1.5rem;
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
}

.card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.card-footer {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.card-footer:last-child {
    border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
}


/* CARD WRAPPER */

.card-wrapper{
    cursor: pointer;
    position: relative;
    width: 100%;
    border-radius: var(--bs-border-radius);
    box-shadow: var(--bs-card-box-shadow);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    overflow: hidden;
}

.card-wrapper input[type="checkbox"]{
    display: none;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    margin-top: 0px;
}

.card-wrapper img{
    width: 100%;
    margin-bottom: -5px;
    aspect-ratio: 9/11;
    object-fit: cover;
    object-position: center;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    box-sizing: border-box;
  }

.card-wrapper .check-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(33, 150, 243, 0.9); /* Material Blue */
    color: white;
    font-size: 30px;
    padding: 4px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
  }

.card-wrapper:has(input[type="checkbox"]:checked) .check-icon {
    display: flex;
}

.card-wrapper .btn-delete{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3); /* Material Red */
    border: none;
    color: white;
    font-size: 30px;
    padding: 4px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-wrapper:hover .btn-delete{
    display: flex;
}