@import url('./reset.css');
@import url('./grid-system.css');
@import url('./aside.css');
@import url('./spacing.css');
@import url('./button.css');
@import url('./badge.css');
@import url('./card.css');
@import url('./table.css');
@import url('./tabs.css');
@import url('./miselanea.css');

body{
    --theme-color: var(--bs-purple);
    --bs-primary: var(--theme-color);
    background-color: rgb(245, 245, 247);
    font-family: Inter, "helvetica neue", Helvetica, Arial, sans-serif;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

body::after{
    content: "";
    /* background-color: var(--theme-color) !important; */
    background-color: var(--theme-color) !important;
    /* background-blend-mode: multiply; */
    /* background-image: url('https://images.pexels.com/photos/27866532/pexels-photo-27866532/free-photo-of-paisaje-naturaleza-cielo-puesta-de-sol.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-position: center;
    background-size: cover;
    height: 30vh;
    min-height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
}

.material-symbols-rounded {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
}

.color-red{
    color: var(--bs-red) !important;
}

.color-green{
    color: var(--bs-green) !important;
}

.color-blue{
    color: var(--bs-blue) !important;
}

.color-yellow{
    color: var(--bs-yellow) !important;
}

.color-orange{
    color: var(--bs-orange) !important;
}

.color-purple{
    color: var(--bs-purple) !important;
}

.color-pink{
    color: var(--bs-pink) !important;
}

.color-teal{
    color: var(--bs-teal) !important;
}